/*----------------------------------
COLORS
----------------------------------*/

// Option #1
$darkerBlue: #19325E;
$darkBlue: #3989C9;
$blue: #9CC3E4;
$lightBlue: #E9F2F9;
$orange: #F26B4F;

// Option #2
$lightGrey: #F2EEEA;
$grey: #B4B2AE;
$darkGrey: #5F5E5D;
$pink: #E87062;
$red: #E24A37;
